#galleryCard {
    flex-direction: column;
    background-color:#cdb4db;
    padding:20px;
}

#output {
    width:100%;
    background-color:#ffafcc;
    height:400px;
    border-radius:20px;
    flex-direction: row;
    overflow-x:scroll;
}

p {
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    font-size:20px;
}
#output div img {
    width: 300px;
    height: 75%;
    object-fit: contain;
}
#output div {
    overflow-wrap:break-word;
    width: 300px;
    margin: 20px;
    padding:20px;
    background-color: #a2d2ff;
    border-radius:25px;
}